<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-text pull-left">
            <p> <span class="glyphicon glyphicon-globe"></span> 2016 Sudip Sarker </p>
        </div>

    </div>
</div>